.airline-table-page{
    position: absolute;
    right: 15px;
    bottom: 15px;
    top: 15px;
    left:15px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}

.airline-table-page .box-header{
    margin-top: 15px;
}
.airline-table-page .batch-operation{
    position: relative;
    text-align: left;
    padding: 15px;
}
.airline-table-page .batch-operation button {
    margin-left: -3.5px;
    margin-right: 10px;
}

.airline-table-page .box-header .search-box .row{
    padding: 10px 0
}
.table-container {
    text-align: center;
    position: relative;
}
.line-table-air th, .line-table-air td{
    display:-moz-deck;
    float:none;
}
.line-table-air th:nth-child(1), .line-table-air td:nth-child(1){
    width: 6%;
    -ms-text-overflow: inherit!important;
    text-overflow: inherit!important;
}
.line-table-air th:nth-child(2), .line-table-air td:nth-child(2){
    width: 6%;
}
.line-table-air th:nth-child(3), .line-table-air td:nth-child(3){
    width: 13%;
}
.line-table-air th:nth-child(4), .line-table-air td:nth-child(4){
    width: 12%;
}
.line-table-air th:nth-child(5), .line-table-air td:nth-child(5){
    width: 12%;
}
.line-table-air th:nth-child(6), .line-table-air td:nth-child(6){
    width: 12%;
}
.line-table-air th:nth-child(7), .line-table-air td:nth-child(7){
    width: 12%;
}
.line-table-air th:nth-child(8), .line-table-air td:nth-child(8){
    width: 12%;
}
.line-table-air th:nth-child(9), .line-table-air td:nth-child(9){
    width: 15%;
}

#nest-airLineForm .verification{
    position: absolute;
    right: 0px;
    text-align: left;
    width: 295px;
}
#nest-airLineForm .verification .errors{
    position: relative;
    padding-left: 0px;
}
.remark-info{
    height: 58px;
}
.remark-info .show-string-length{
    bottom: 19px;
}
.airline-search-btn{
    display: inline-block;
    float: right;
    margin-right: 52px
}
.airline-search-btn button {
    width: 98px;
    padding: 0px;
}

.airline-table-page .box-header .search-box .row{
    padding: 10px 0
}
td {
  text-align: center !important;
}
