.lable-left {
    width: 134px;
    padding: 12px 0 12px 0;
    text-align: right;
    margin-right: 10px;
    float: left;
    line-height: 34px;
}
.container {
    overflow: hidden;
    position: relative;
}
.input-text{
    width: 295px!important;
    position: absolute;
    top: 15px;
    min-height: 34px;
    border: 1px solid #BDBDBD;
    padding-left: 12px;
    border-radius: 2px;
    color: #888;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    resize: none;
}
.tips{
    color: #F96268;
    font-size: 12px
}
.red{
    color: red;
}
.title{
    padding-left: 571px;
    padding-top: 35px;
    font-size: 22px;
    padding-bottom: 24px;

}