/*三奘平台*/
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
    margin: 0;
    color: #555;
}

ul,
ol {
    padding: 0;
    list-style-position: inside;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #01AAED;
}
a:hover,a:active{
    text-decoration: none;
}

input[type="button"],
button {
    cursor: pointer;
}

input,
button,
textarea {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    resize: none;
    color: #555;
}

body {
    font-size: 14px;
    color: #555;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}

input:focus,
a:focus,
button:focus {
    outline: 0px;
    text-decoration: none;
}

img{
    border: 0px;
}

/*end*/

/*=========================================
                自定义样式
=========================================*/

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,textarea {
    min-height: 34px;
    border: 1px solid #BDBDBD;
    padding-left: 12px;
    border-radius: 2px;
    width: 100%;
    color: #888;
}
textarea{
    min-width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus{
    border-color: #1d88dd;
    outline:none;
}

input[disabled="disabled"]{
    background-color: #dfdfdf;
    border: 1px solid #ccc;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

/*合并边框*/

table {
    border-collapse: collapse;
}


/*主题颜色*/

.theme-color {
    color: #3BAFDA;
}

.theme-background-color {
    background-color: #3BAFDA;
}

.theme-border-color {
    border-color: #3BAFDA;
}


/*图标样式*/

.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}


/*图片样式*/

.img {
    background-color: #fff;
    background-size: 100% 100%;
}

/*body样式*/

.wrapper{
    background-color: #fff;
}


/*=========================================
                按钮样式
=========================================*/

.btn{
    height: 34px;
    line-height: 34px;
    border-radius: 2px;
    font-size: 14px;
    padding: 0px 45px;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-primary{
    color: #fff;
    border: 1px solid #3BAFDA;
    background-color: #3BAFDA;
}
.btn-default{
    color: #666;
    border: 1px solid #979797;
    background-color: #fff;
}
.btn-reset{
    padding: 0 15px;
    color: #888;
}

.btn-disable, .btn[disable] {
    background-color: #ccc;
    color: #fff;
    border: 1px solid #ccc;
}

.btn-primary:hover {
    background-color: #60C6EA;
    border-color: #60C6EA;
}

.btn-default:hover {
    color: #999999;
    background-color: #fff;
    border-color: #D9D9D9;
}

.btn-disable:hover {
    border-color: #ccc;
    background-color: #ccc;
}

.btn-primary:active {
    background-color: #4FC1E9;
}

.btn-default:active {
    color: #777;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.10);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    background-color: #ccc;
    border: 1px solid #ccc;
}
/*=========================================
                多选单选样式
=========================================*/

/*多选框*/
.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.checkbox {
    position: relative;
    padding-left: 20px;
    margin: 0px;
    display: inline;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    overflow: hidden;
}
.checkbox input[type="checkbox"]{
    opacity: 0;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox label::after {
    top: -13px;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 15px;
    left: -18px;
    top: 0px;
    line-height: 17px;
    height: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 11px;
    text-align: center;
}
.checkbox label {
    position: absolute;
    left: 20px;
    top: 0;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    box-sizing: border-box;
}
/*单选框*/
.radio.radio-single.radio-primary{
    position: relative;
    display: inline-block;
    margin: 0;
    width: 20px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    /* padding-left: 20px; */
    box-sizing: border-box;
}
.radio.radio-single.radio-primary input[type="radio"]{
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 19px;
    top: -5px;
    width: 19px;
    height: 19px;
    outline: none;
    margin: 4px 0 0;
    margin-left: -20px;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}
.radio.radio-single label {
    height: 17px;
}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.radio label, .checkbox label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    box-sizing: border-box;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 7px;
    height: 7px;
    left: 5px;
    top: 5px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    box-sizing: border-box;
}
.radio.radio-single.radio-primary label::before{
    outline: none;
}



/*=========================================
                flex
=========================================*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.row:before,
.row:after{
    display: table;
    content: " ";
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.66666667%;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.66666667%;
}
.col-md-7 {
    width: 58.33333333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}