.type-filter li {
    line-height: 60px;
    color: #888;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.type-filter li.active {
    color: #3bafda;
}
.type-filter li:active {
    color: #3bafda;
}

.add-search-box .senior-box {
    padding-bottom: 0px;
}
.senior-box .select-box,
.checkbox-filter,
label.senior-label {
    display: inline-block;
    vertical-align: middle;
}
.senior-box .select-box {
    width: 68px;
}
.add-search-box .senior-box input {
    padding-left: 10px;
}
.senior-box .checkbox-info {
    margin-left: 10px;
}
.add-search-box .senior-box span {
    margin-left: 5px;
}

/* 高级搜索 */
.senior-seach {
    cursor: pointer;
    top: 0px;
    right: -108px;
    position: absolute;
    line-height: 34px;
    color: #fff;
    width: auto;
    padding: 0px;
}
.senior-seach button {
    width: 98px;
    padding: 0px;
}
.senior-seach button + button {
    margin-left: 10px;
}
.senior-seach button.btn-transparent {
    color: #888888;
    border: none;
    background: transparent;
}

.services-table th:nth-child(1),
.services-table td:nth-child(1) {
    width: 5%;
}
.services-table th:nth-child(2),
.services-table td:nth-child(2) {
    width: 5%;
}
.services-table th:nth-child(3),
.services-table td:nth-child(3) {
    width: 15%;
}
.services-table th:nth-child(4),
.services-table td:nth-child(4) {
    width: 15%;
}
.services-table th:nth-child(5),
.services-table td:nth-child(5) {
    width: 15%;
}
.services-table th:nth-child(6),
.services-table td:nth-child(6) {
    width: 15%;
}
.services-table th:nth-child(7),
.services-table td:nth-child(7) {
    width: 15%;
}
.services-table th:nth-child(8),
.services-table td:nth-child(8) {
    width: 15%;
}

/** 状态筛选 */
.state-box {
    position: absolute;
    left: -200px;
}
.state-box label.state-label {
    display: inline-block;
    vertical-align: middle;
}
.state-box .select-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 120px;
}
.state-box input.state-input {
    padding-left: 12px;
}

/** 添加的layout */
.go-back {
    padding-left: 15px;
}
.add-title {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}
.add-title p {
    font-size: 22px;
    font-weight: bold;
}
.form-box {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    /* border: 1px solid #ddd; */
    overflow: auto;
}
.go-back .btn-right {
    float: right;
}

.form-box .panel {
    position: relative;
    padding-left: 135px;
    float: left;
    width: 50%;
}
.form-box div.panel {
    width: 100%;
}
.form-box .rows {
    float: left;
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.form-box .panel dd {
    padding: 25px;
    padding-left: 0px;
    margin: 0;
    text-align: center;
}
.form-box .panel dd > label b {
    display: inline-block;
    text-align: left;
    color: red;
    width: 10px;
    margin-left: -5px;
}
.form-box .panel dd > label .subsidiary {
    position: absolute;
    display: inherit;
    right: 6px;
    top: 19px;
}
.form-box .panel dd > label {
    position: absolute;
    width: 135px;
    left: 0;
    line-height: 34px;
    text-align: right;
}
.form-box .panel .content-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: left;
    height: auto;
    padding-left: 13px;
    line-height: 34px;
}
.form-box .panel .content-info > label {
    margin-right: 50px;
}
.form-box .panel .content-info > label input[type='radio'] {
    margin-right: 6px;
}
.form-box .panel .content-info.business {
    height: 172px;
}
.form-box .panel .content-info span.text-info,
a.text-info {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding-left: 13px;
    white-space: pre-line;
    word-break: break-all;
    width: 100%;
}
.operation-box {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}
.operation-box.right {
    text-align: right;
    height: 34px;
    padding-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.operation-box.right.mb0 {
    margin-bottom: 0;
}
.operation-box button {
    margin-left: 20px;
    margin-right: 20px;
}
.form-box .verification {
    position: absolute;
}
.form-box .verification .errors {
    padding-left: 3px;
}

/** 备注字符长度 */
.content-info .text-legth {
    position: absolute;
    bottom: 0px;
    right: 8px;
    color: #999;
}

/** 类型选择 */
.select-type {
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 22px 15px;
}
.select-type ul li {
    padding-top: 12px;
    padding-bottom: 12px;
}
.select-type ul li:first-child {
    padding-top: 0;
}
.select-type ul li .checkbox {
    margin-right: 15px;
}

/** 左侧弹框样式 */
.area-box {
    margin: 0px 15px;
}
.area-box .input-box {
    width: 100%;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: 30px;
}
.area-box .select-icon {
    right: 1px;
    top: 1px;
    line-height: 32px;
}
.area-box .select-disabled input {
    border-color: #cfcfcf;
    color: #cfcfcf;
}
.area-box .select-disabled .select-icon {
    background: #cfcfcf;
}
#serviceZone .m-tab .tab-content {
    border: none;
}
.u-little-tips {
    padding: 15px;
    color: #888;
}

/* 供应商样式 */
.form-box.supplier-box {
    background: transparent;
    border: none;
    overflow: hidden;
    top: 115px;
}
.form-box .tab-content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.bd-table th:nth-child(1),
.bd-table td:nth-child(1) {
    width: 5%;
}
.bd-table th:nth-child(2),
.bd-table td:nth-child(2) {
    width: 5%;
}
.bd-table th:nth-child(3),
.bd-table td:nth-child(3) {
    width: 15%;
}
.bd-table th:nth-child(4),
.bd-table td:nth-child(4) {
    width: 15%;
}
.bd-table th:nth-child(5),
.bd-table td:nth-child(5) {
    width: 10%;
}
.bd-table th:nth-child(6),
.bd-table td:nth-child(6) {
    width: 10%;
}
.bd-table th:nth-child(7),
.bd-table td:nth-child(7) {
    width: 10%;
}
.bd-table th:nth-child(8),
.bd-table td:nth-child(8) {
    width: 10%;
}
.bd-table th:nth-child(9),
.bd-table td:nth-child(9) {
    width: 10%;
}
.bd-table th:nth-child(10),
.bd-table td:nth-child(10) {
    width: 10%;
}

.contacts-table th:nth-child(1),
.contacts-table td:nth-child(1) {
    width: 5%;
}
.contacts-table th:nth-child(2),
.contacts-table td:nth-child(2) {
    width: 5%;
}
.contacts-table th:nth-child(3),
.contacts-table td:nth-child(3) {
    width: 15%;
}
.contacts-table th:nth-child(4),
.contacts-table td:nth-child(4) {
    width: 15%;
}
.contacts-table th:nth-child(5),
.contacts-table td:nth-child(5) {
    width: 10%;
}
.contacts-table th:nth-child(6),
.contacts-table td:nth-child(6) {
    width: 10%;
}
.contacts-table th:nth-child(7),
.contacts-table td:nth-child(7) {
    width: 15%;
}
.contacts-table th:nth-child(8),
.contacts-table td:nth-child(8) {
    width: 15%;
}
.contacts-table th:nth-child(9),
.contacts-table td:nth-child(9) {
    width: 10%;
}

.batch-operation.box {
    padding: 15px;
    padding-top: 0px;
    height: 20px;
}

/*组图*/
.img-list-box {
    margin-left: 0;
    margin-top: -23px;
    margin-bottom: -23px;
    width: 100%;
}
.img-list-box .img-box {
    float: left;
    margin: 0px 26px 30px 0px;
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.img-list-box .img-box .img-pic {
    height: 80px;
    width: 80px;
}
.img-list-box .img-box .img-pic .imgs {
    height: 80px;
    width: 80px;
    background: #e0dfe0;
}
.img-list-box .img-box .img-pic div.imgs {
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.img-list-box .img-box .img-pic .file-name-box {
    position: absolute;
    bottom: -30px;
    line-height: 30px;
    font-size: 10px;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.rows.author-rows {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.rows .author {
    float: right;
    width: auto;
    text-align: right;
    padding-right: 20px;
}
.stream-box {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 40px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ddd;
}
.title-stream {
    margin: 10px 0px;
    text-align: center;
    font-size: 22px;
}
.stream-list {
    list-style-type: none;
    padding-left: 24px;
    margin-top: 60px;
    width: 636px;
    margin-left: auto;
    margin-right: auto;
}
.stream-list li {
    height: 150px;
    overflow: visible;
    border: none;
    border-left: 1px solid #d8d8d8;
    margin-bottom: 18px;
    position: relative;
    padding-left: 26px;
}
.stream-list li:last-child {
    border-left: none;
}
.stream-list li.active .circle,
.stream-list li .circle {
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 25px;
    background-color: #3bafda;
    left: -6.5px;
    top: -16px;
    border: 2px solid #bcedfe;
}
.stream-list li .title {
    font-weight: bold;
}
.stream-list li.active p {
    color: #3bafda;
    font-size: 16px;
    margin-bottom: 5px;
}
.stream-list li p {
    margin-bottom: 5px;
    font-size: 16px;
}
.stream-list li p span {
    margin-right: 5px;
}
.stream-list li .circle {
    height: 13px;
    width: 13px;
    background-color: #d8d8d8;
    border: none;
}
.stream-content {
    position: relative;
    top: -21px;
}
.deal-detail {
    display: inline-block;
    width: 500px;
    font-size: 16px;
    vertical-align: top;
    line-height: 24px;
    word-break: break-all;
}
.disabled,
.disabled:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}
.select-list-box li {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.m-info-tab {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 115px;
}
.m-info-tab .tab-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 50px;
}
.m-range .top-btn-group {
    margin: 15px;
}
.table-container {
    text-align: center;
    position: relative;
}
.service-table th:nth-child(1),
.service-table td:nth-child(1) {
    width: 5%;
    -ms-text-overflow: inherit !important;
    text-overflow: inherit !important;
}
.service-table th:nth-child(2),
.service-table td:nth-child(2) {
    width: 5%;
}
.service-table th:nth-child(3),
.service-table td:nth-child(3) {
    width: 15%;
}
.service-table th:nth-child(4),
.service-table td:nth-child(4) {
    width: 15%;
}
.service-table th:nth-child(5),
.service-table td:nth-child(5) {
    width: 15%;
}
.service-table th:nth-child(6),
.service-table td:nth-child(6) {
    width: 15%;
}
.service-table th:nth-child(7),
.service-table td:nth-child(7) {
    width: 15%;
}
.service-table th:nth-child(8),
.service-table td:nth-child(8) {
    width: 15%;
}

#regionDetail [type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
}

/* 居中弹框表单样式 */
.middle-box .prompt-content dd {
    position: relative;
    padding-left: 95px;
    width: 100%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.middle-box .prompt-content .content-info {
    position: relative;
}
.middle-box .prompt-content label.label-tip {
    position: absolute;
    left: 0px;
    line-height: 34px;
    height: 34px;
    text-align: right;
    width: 85px;
}
.prompt-content label b {
    display: inline-block;
    width: 12px;
    text-align: left;
    color: red;
}
.middle-box .prompt-content input {
    width: 100% !important;
}
.prompt-content .verification {
    position: absolute;
}
.prompt-content .verification .errors {
    padding-left: 0px;
}
.middle-box .prompt-content .ready-panel {
    display: table;
    height: 34px;
    line-height: 34px;
}
.middle-box .prompt-content dd.isHref-box {
    text-align: center;
    padding: 0px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.flight-table th:first-child,
.flight-table td:first-child {
    border-left: 1px solid #ddd;
}
.flight-table th:nth-child(1),
.flight-table td:nth-child(1) {
    border-left: 1px solid #ddd;
    width: 10%;
}
.flight-table th:nth-child(2),
.flight-table td:nth-child(2) {
    width: 10%;
}
.flight-table th:nth-child(3),
.flight-table td:nth-child(3) {
    width: 20%;
}
.flight-table th:nth-child(4),
.flight-table td:nth-child(4) {
    width: 20%;
}
.flight-table th:nth-child(5),
.flight-table td:nth-child(5) {
    border-right: 1px solid #ddd;
    width: 20%;
}
.flight-table th:nth-child(6),
.flight-table td:nth-child(6) {
    width: 20%;
}
.flight-table th:last-child,
.flight-table td:last-child {
    border-right: 1px solid #ddd;
}
td {
  text-align: center !important;
}
