.master-table {
    overflow-y:scroll;
}
.stream-box {
    top:0px;
    left:0px;
    right:0px;
    bottom:0;
    padding:40px;
}
.title-stream {
    margin: 10px 0px;
    text-align: center;
    font-size: 22px;
}
.stream-list {
    list-style-type: none;
    padding-left:24px;
    margin-top:60px;
    width:636px;
    margin-left:auto;
    margin-right:auto;
}
.stream-list li {
    min-height:150px;
    overflow:visible;
    border:none;
    border-left:1px solid #D8D8D8;
    margin-bottom:18px;
    position:relative;
    padding-left:26px;
}
.stream-list li:last-child {
    border-left: none;
}
.stream-list li.active .circle, .stream-list li .circle {
    height:15px;
    width:15px;
    position:absolute;
    border-radius:25px;
    background-color:#3BAFDA;
    left: -6.5px;
    top: -16px;
    border:2px solid #BCEDFE;
}
.stream-list li .title {
    font-weight:bold;
}
.stream-list li.active p {
    color:#3BAFDA;
    font-size:16px;
    margin-bottom: 10px;
}
.stream-list li p {
    margin-bottom: 5px;
    font-size:16px;
}
.stream-list li p span {
    margin-right:5px;
    vertical-align: top;
}
.stream-list li .circle {
    height:13px;
    width:13px;
    background-color:#D8D8D8;
    border:none;
}
.stream-content {
    position: relative;
    top: -21px;
}
.deal-detail {
    display: inline-block;
    width: 500px;
    font-size: 16px;
    line-height: 20px;
    word-break: break-all;
}