<div class="table-container">
    <table class="table-box" cellpadding="0" cellspacing="0" style="text-align: center;">
        <thead>
        <th style="width:5%" ng-if="viewButton.isShowCheckBox">
            <div class="checkbox checkbox-info">
                <input type="checkbox" id="select-all" ng-model="tableModel.selectFlag" ng-click="table.selectAll(tableModel);">
                <label></label>
            </div>
        </th>
        <th style="width:{{tableModel.tableHeaderSize[$index]}}" ng-repeat="item in tableModel.tableHeader">
            {{item}}
        </th>
        </thead>
        <tbody ng-if="isShowIcon" class="tbody">
        <tr ng-repeat="value in tableModel.tableBody" ng-init="renderFinish($last)">
            <td ng-if="viewButton.isShowCheckBox">
                <div class="checkbox checkbox-info">
                    <input class="checkbox" type="checkbox" data-status="{{value.statusName}}" ng-value="{{value.id}}" ng-checked="value.checkbox" ng-click="table.selectOne(tableModel, value.checkboxId);">
                    <label></label>
                </div>
            </td>
            <td style="text-align: center">{{(tableModel.pagination.currentPage-1)*tableModel.pagination.pageSize+$index+1}}</td>
            <td title="{{value.name}}" ng-click="editCurrentPrice(value.uid)" style="text-align: center"><a href="javascript:void" ng-bind-html="value.name | trustHtml:pricePlanQ"></a></td>
            <td title="{{value.code}}" ng-bind-html="value.code | trustHtml:pricePlanQ" style="text-align: center"></td>
            <td style="text-align: center;" title="{{value.productName}}" ng-if="viewButton.isBelongToProduct" ng-bind-html="value.productName | trustHtml:belongProductQ" ></td>
            <td style="text-align: center;" title="{{value.serviceName}}" ng-if="viewButton.isBelongToService" ng-bind-html="value.serviceName | trustHtml:belongServiceQ" ></td>
            <!--<td title="{{value.feeTypeName}}">{{value.feeTypeName}}</td>-->
            <td style="text-align: center;" title="{{value.gradeOrCustomerName}}" ng-if="viewButton.isShowPriceType">{{value.gradeOrCustomerName}}</td>
            <td style="text-align: center;" title="{{value.starts}}" ng-bind-html="value.starts | trustHtml:startAddressQ"></td>
            <!--<td title="{{value.regionName}}" ng-if="viewButton.isShowWeightAndArea">{{value.regionName}}</td>-->
            <!--<td title="{{value.weightName}}" ng-if="viewButton.isShowWeightAndArea">{{value.weightName}}</td>-->
            <td style="text-align: center;" title="{{value.cargoTypeName}}">{{value.cargoTypeName}}</td>
            <td style="text-align: center;" title="{{value.currencyName}}">{{value.currencyName}}</td>
            <td style="text-align: center;" title="{{value.settlementTypeName}}">{{value.settlementTypeName}}</td>
            <!--<td title="{{value.startEffectTime}}~{{value.endEffectTime}}"><p style="height:25px;line-height:20px">{{value.startEffectTime}}</p><p style="height:25px;line-height:20px">~{{value.endEffectTime}}</p></td>-->
            <td style="text-align: center;" title="{{value.startEffectTime}}">{{value.startEffectTime}}</td>
            <td style="text-align: center;" title="{{value.endEffectTime}}">{{value.endEffectTime}}</td>
            <td style="text-align:center">
                <p style="line-height:20px">{{value.statusName}}</p>
                <a href="javascript:void(0)" ng-click="showCheckStream(value.uid, value.name)" style="display:block;line-height:20px" >
                    <span ng-if="value.isRejected" class="u-red-dot ng-scope" title="待处理" style="margin-left:0"></span>
                    <span style="margin-left:-3px"><%=price_stream%></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="!tableModel.pagination.isVisiblePage" style="position: absolute;bottom:0px;width:100%;{{isResetSearchCls ? 'top:250px': 'top:165px'}}">
    <img ng-show="isShowIcon" style="width:100%;height:90%;{{viewButton.isTabList ? 'margin-top:90px' : 'margin-top:90px'}}" src="/public/img/undefined.svg" class="test_fddb0276">
    </div>
    <hnapagination table-service="table" page-table-model="tableModel" ng-if="isShowIcon"></hnapagination>
</div>