.user-form .radio.radio-single.radio-primary{
    margin-left: 15px;
}
.content-main .right-panel-box .layout-right.user-box{
    background-color: #fff;
    border: 1px solid #ddd;
}
.group-detail-box.right-panel-box .table-container{
    text-align: center;
    position: relative;
}
.box-header.with-border.add-user .add-search-box{
    width: 50%;
    display: inline-block;
    position: relative;
    padding-right: 94px;
}
.box-header.with-border.add-user{
    margin-top: 15px;
    text-align: center;
}
.box-header.with-border.add-user button{
    display: inline-block;
    float: left;
}
.add-search-box input{
    padding-left: 35px;
    width: 100%;
}

.batch-operation{
    position: relative;
    text-align: left;
    padding: 15px;
}
.batch-operation span{
    float: left;
    line-height:30px;
}
.batch-operation button{
    position: relative;
    line-height: 10px;
    padding: 0;
    width: 68px;
    margin: 0px 5px 0px 0px!important;
}

.user-operation{
    text-align: right;
}
.user-bottom-operation{
    display: table;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 0;
}
.user-operation button:first-child{
    float: left;
}
.user-form{
    display: table;
    width: 100%;
    padding: 20px;
}
.user-form .user-head{
    display: table;
    width: 100%;
}
.user-form .row{
    text-align: left;
    padding: 16px 0;
    padding-left: 50%;
}
.user-form .row-left .row{
    padding-right: 40px;
    padding-left: 40%;
}
.user-form .row-right .row{
    padding-left: 110px;
    padding-right: 30%;
}
.user-form .user-head .row-left .row label.label-panel,img.updateImg{
    bottom: 13px;
}
.user-form .row-left .row label.label-panel{
    width: 40%;
}
.user-form .row-right .row label.label-panel{
    width: 140px;
}
.user-form .row label.label-panel{
    position: absolute;
    left: 0px;
    width: 50%;
    padding-right: 40px;
    text-align: right;
    line-height: 34px;
}
.user-form .row label.label-panel b{
    position: absolute;
    color: red;
    margin-left: -11px;
}
.user-form .row .form-info.sex-radio{
    height: 34px;
    line-height: 34px;
}
.user-form .row textarea.form-info{
    height: 87px;
}
.user-form .row .form-info{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    min-height: 32px;
    line-height: 32px;
    word-break: break-all;
}
.user-form .row .form-info textarea{
    width: 100%;
}
.user-form .row .form-info.sex-radio span{
    padding-right: 20px;
}

.senior-seach{
    cursor: pointer;
    top: 15px;
    position: absolute;
    line-height: 34px;
    color: #fff;
    width: auto;
    padding: 0px;
    right: -80px;
}
.senior-seach button{
    width: 98px;
    padding: 0px;
}
.senior-seach button+button{
    margin-left: 10px;
}
.senior-seach button.btn-transparent{
    color: #888888;
    border: none;
    background: transparent;
}
button[name="saveOrEdit"]{
    margin-left: 30px;
}

.fade{
    opacity: 1;
    display: none;
    padding: 15px;
    padding-bottom: 0px;
    text-align: left;
}
.btn-primary.active{
    color: #fff;
    background: #4FC1E9;
    border: 1px solid #3BAFDA;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.10);
}
.img-file{
    position: absolute;
    height: 120px;
    width: 120px;
    background: red;
    top: 16px;
    opacity: 0;
    z-index: 10;
}
.img-upload{
    position: absolute;
    bottom: 19px;
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    border: none;
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    z-index: 5;
}
.verification{
    position:relative;
}
.user-form .verification .errors {
    position: absolute;
    left: 0;
    padding-left: 0px;
}
.user-form .row-right .verification .errors {
    position: absolute;
    left: 0;
}
.user-form .isExisted {
    position: absolute;
    color: #f00;
    left: 0px;
    width: 100%;
    padding-left: 0px;
}


.user-table th:nth-child(1),.user-table td:nth-child(1){
    width: 8%;
}
.user-table th:nth-child(2),.user-table td:nth-child(2){
    width: 7%;
}
.user-table th:nth-child(3),.user-table td:nth-child(3){
    width: 15%;
}
.user-table th:nth-child(4),.user-table td:nth-child(4){
    width: 15%;
}
.user-table th:nth-child(5),.user-table td:nth-child(5){
    width: 15%;
}
.user-table th:nth-child(6),.user-table td:nth-child(6){
    width: 20%;
}
.user-table th:nth-child(7),.user-table td:nth-child(7){
    width: 20%;
}
/*布局*/
.content-main .right-panel-box {
    position: absolute;
    right: 15px;
    bottom: 15px;
    top: 15px;
    z-index: 1;
}
.content-main .group-detail-box {
    float: right;
    padding: 0;
}
.content-main .right-panel-box .layout-right {
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.content-main .right-panel-box .layout-right.user-box {
    background-color: #fff;
    border: 1px solid #ddd;
}

/*树检索框*/
.tree-container .box-header.with-border{
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}

.box-header.with-border .retract-tree.icon-Close:before{
    background: #BAE7F7;
    border-radius: 3px;
    width: 16px;
}
.box-header.with-border .seach-tree{
    position: relative;
    padding-top: 15px;
    width: 100%;
    height: 50px;
}
.box-header.with-border .seach-tree .form-control{
    padding-left: 35px;
}
.box-header.with-border .seach-tree .list-box{
    width: 100% !important;
}
.box-header.with-border .seach-tree .icon-search{
    position: absolute;
    top: 22px;
    left: 12px;
    color: #CCD1D9;
}
.box-header.with-border.tree-detail-box{
    text-align: right;
    height: 34px;
}
.box-header.with-border.tree-detail-box.center{
    margin-top: 25px;
    text-align: center;
}
.box-header.with-border.tree-detail-box.center .btn+.btn{
    margin-left: 40px;
}
/*添加按钮*/
.user-add-button{
    padding-top: 15px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.user-add-button .add-button{
    width: 100%;
    border-radius: 0;
    height: 40px;
    font-size: 35px;
}
.user-add-button .add-button:after{
    display: table;
    content: '+';
    margin-top: -7px;
    width: 100%;
}
/*table批量操作按钮*/
.batch-operation{
    position: relative;
    text-align: left;
    padding: 15px;
}
.batch-operation span{
    float: left;
    line-height:30px;
}
.batch-operation button{
    position: relative;
    line-height: 10px;
    padding: 0;
    width: 98px;
    margin-right: 8px;
}
/*table检索框*/
.box-header.with-border.add-user{
    margin-top: 15px;
    text-align: center;
}
.box-header.with-border.add-user button{
    display: inline-block;
    float: left;
}
.box-header.with-border.add-user span{
    display:inline-block;
    color:#555;
    margin-left: 10px;
}
.box-header.with-border.add-user .add-search-box{
    width: 50%;
    display: inline-block;
    position: relative;
    padding-right: 94px;
}
.add-search-box input{
    padding-left: 35px;
    width: 100%;
}
.add-search-box .search-table {
    position: absolute;
    top: 15px;
    left: 16px;
    color: #ccc;
}

.icon-search {
    font-size: 15px;
}
/*公共 end*/

/*==== 提交表单 */
.add-from{
    position: absolute;
    overflow: auto;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-color: #fff;
    padding: 25px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.updateImg{
    height: 120px;
    width: 120px;
}
.add-from .position-box{
    position: relative;
}


.icon-more-down{
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 34px;
    font-size: 6px;
    font-weight: bold;
}

.radio-box{
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
}

.undefined-img{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -390px;
}

.user-prompt-box{
    display: none;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 0;
    top: 0;
}

.box-header.with-border .seach-tree .slimScrollDiv {
    overflow: visible !important;
    position: absolute;
    background: #fff;
    z-index: 89;
    box-shadow: 2px 7px 13px #ccc;
    margin: 0;
    padding: 0;
}