.bills {
	position: absolute;
	z-index: 1;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: #fff;
	border:1px solid #ddd;
	padding-top: 10px;
	overflow: hidden;
}

.bill-input {
	position: relative;
	padding-left: 65px;
	float: left;
	width: 28%;
}
.bill-input label {
	position: absolute;
	left: 0;
	width: 60px;
	text-align: right;
	top: 50%;
	margin-top: -12px;
}
.bill-input > p {
	width: 100%;
}
.bill-input p input {
	width: 100%;
}


.bill-inputs span {
	margin: 0 7px;
}
.bill-line {
	margin: 8px 0;
}
.bill-line ~ .bill-line {
	margin-top: 15px;
}

.bill-btn-line .bill-line .bill-input {
	margin-left: 2%;
	margin-right: 2%;
}
.bill-btn-line .bill-btn {	
	float: right;
	margin: 10px 6% 0 0;
}
.bill-btn-line .bill-btn-r {
	float: right;
	margin-right: 30px;
}
.bills .btn-bill {
	padding: 0;
	width: 98px;
	height: 34px;
}
.bill-border-line {
	border-bottom: 1px solid #ddd;
	height: 55px;
	margin-bottom: 5px;
}
.btn-group {
	margin-left: 24px;
	margin-top:6px;
}
.btn-group-center {
	text-align: center;
}
.btn-group .btn ~ .btn {
	margin-left: 5px;
}


.table-container {
	margin-top: 15px;
	position: relative;
}
.btn[disabled] {
	background: #ddd;
	border-color:#ddd;
}
.clear-search {
	color:#888;
}
.clear-search:hover {
	color: #999;
	cursor: pointer;
}
#bill .table-box td {
	text-align: center;
}
.undefinedsvg {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.undefinedsvg img {
	max-width: 600px;
}

.bills input::placeholder {
	color: #aaa;
}
.table-wrap {
	height: 400px;
	overflow: auto;
}

.detail {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #eee;
	z-index: 1000;
}
.detail > div {
	position: absolute;
	top: 60px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background-color: #fff;
	overflow: auto;
	padding-bottom: 30px;
}
.detail > button {
	position: absolute;
	left: 10px;
	top: 15px;
	width: 120px;
	padding: 0;

}
.detail #edit-order {
	left: auto;
	right: 15px;

}


.title {
	text-align: center;
	font-size: 22px;
	padding: 15px 40px 0 0;
}


.table-box tbody tr td,.table-box tbody tr td p {
	text-align: center;
	margin: 0;
}
.table-box tbody tr td p {
	line-height: 22px;
}
.span-a {
	color: #3BAFDA;
	cursor: pointer;
}

.verification {
	margin:0;
}
.verification .errors {
	padding-left: 0;
}
.hide {
	display: none;
}
.show {
	display: block;
}

.order-ul {
	padding: 0 6.6%;
}
.order-ul li h4 {
	background: #F6F8FA;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	margin-top: 3%;
	line-height: 40px;
	padding: 0 20px;
	color: #555;
	font-size: 18px;
}

.good-detail .good-li {
	position: relative;
	padding-left: 125px;
	width: 50%;
	float: left;
	margin-top: 25px;
	height: 35px;
}

.good-detail .table-li {
	padding: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;

}
.table-li td,.table-li th {
	width: 33%;
}
.good-detail .good-li label {
	position: absolute;
	left: 0;
	width: 120px;
	text-align: right;
	top: 50%;
	margin-top: -10px;
}
.good-detail .good-li label i {
	color: #f00;
	font-size: 16px;
	margin-right: 3px;
}
.content-text {
	margin-top: 7px;
	line-height: 20px;
	font-size: 14px;
}
.content-text-info {
	line-height: 20px;
	margin:15px 0;
	font-size: 14px;
}
.good-detail .good-li .radio-label {
	padding-left: 10px;
}
.good-detail .good-li .radio-label label {
	position: static;
	left: auto;
	top: auto;
	width: auto;
	text-align: left;
	margin:0;
	line-height: 35px;
}
.good-detail .good-li .required {
	position: relative;
}
.good-detail .splide {
	width: 100%;
	height: 1px;
	margin:0;
	padding: 0;
}
.good-detail .ml {
	margin-left: 50%;
}
.good-detail .table-box {
	table-layout: fixed;

}
.good-detail .btn-group {
	margin-top: 10px;
}
.good-detail .table-box-div {
	margin: 15px;
}
.good-detail .table-box-div p {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.good-detail .table-box thead tr th,.good-detail .table-box tbody tr td {
	width: 11%;
	background-color: #fff
}
.good-detail .table-box tbody tr .total {
	border-top: 1px solid #ddd;
}
.textarea-div {
	border:1px solid #ddd;
	min-height: 100px;
	padding: 10px;
	margin-top: 15px;
	border-radius: 3px;
	position: relative;
}
.textarea-div textarea {
	font-size: 16px;
	color: #888;
	
	border: none;
	outline: none;
}
/*.textarea-div span {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #888;
	font-size: 16px;
}*/
.textarea-strong strong {
	display: block;
	margin:10px 0;
}
.textarea-strong .textarea-div {
	margin-top: 0;
}
.mtb-30 {
	margin-top: 30px!important;
	margin-bottom: 30px!important;
}
.mtb-30 {
	margin-top: 60px!important;
	margin-bottom: 60px!important;
}

.fatherDiv .processStyle {
    display: inline-block;
    float: left;
    position: relative;
	padding-left: 100px;
	text-align: center;
}
.fatherDiv .processStyle button {
	display: block;
	line-height: 22px;
	padding: 0 6px;
	border-radius: 0;
	font-size: 12px;
	margin-top: 5px;
}
.fatherDiv .processStyle button[disabled]{
	color: #fff;
	background-color: #ddd;
	border: #808080;
}

.fatherDiv .processDiv {
    margin: 30px 0 60px 0;
    height: 120px;
}


.fatherDiv .dividingLine {
	position: absolute;
	left: 0;
	top: 0;
    width: 100px;
    line-height: 47px;
    text-align: justify;
    color: #bdbdbd;
    letter-spacing: 15px;
    text-indent: 10px;
    font-size: 20px;
}

.fatherDiv .processStyle_txt {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    display: block;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}

.fatherDiv .icon-draft-s,.fatherDiv .icon-examine-s,.fatherDiv .icon-solicitation-s,.fatherDiv .icon-transport-s,.fatherDiv .icon-receive-s {
    color: #3BAFDA;
}

.fatherDiv .label-text {
    margin: 0 35px;
}
.ng-select {
	position: relative;
}
.ng-select ul {
	width: 100%;
	position: absolute;
	top: 35px;
	left: 0;
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
	border:1px solid #bbb;
	z-index: 2000;
}
.ng-select li {
	border-bottom: 1px solid #ccc;
	width: 100%;
	float: none;
	margin:0;
	padding: 0 4px 0 8px;
	height: 35px;
	line-height: 35px;
	background-color: #fff;
	white-space: nowrap;

}
.ng-select li:last-child {
	border-bottom: 0;
}
.ng-select li:hover {
	background-color: #3BAFDA;
	color: #fff;
	cursor: pointer;
}
.overflow {
	overflow:visible!important;
}

.good-type {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.2);
	z-index: 2000;
}
.good-type > div {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 350px;
	padding: 15px 30px;
	background-color: #eee;
	overflow: hidden;
}
.good-type > div > strong {
	font-size: 18px;

}
.good-type-div {
	border:1px solid #ddd;
	background-color: #fff;
	position: relative;
	margin-top: 14px;
	position: absolute;
	top: 35px;
	bottom: 60px;
	left: 30px;
	right: 30px;
	overflow: auto;
}
.good-type-div > p {
	padding:5px 0 5px 30px;
	border-bottom: 1px solid #ccc
}

.good-type-div p {
	line-height: 30px;
}
.good-type-div p input {
	position: absolute;
	left: 10px;
	top: 13px;
}
.good-type-div > p input {
	top: 14px;
}
.good-type-div li {
	position: relative;
	border-top: 1px solid #ddd;
	padding: 4px 0;
}
.good-type-div > ul {
	padding-left: 40px;
	border-bottom: 1px solid #ddd;

}
.good-type-div > ul > li:first-child {
	border-top: 0;
}
.good-type-div > ul li {
	border-left: 1px dashed #ccc;
	padding-left: 5px;
}
.good-type-div > ul ul {
	padding-left: 15px;
	border-left: 1px dashed #ccc;

}
.good-type-btn {
	position: absolute;
	bottom: 14px;
	right: 30px;
}
.good-type-btn button {
	margin-right: 16px;
}
table tr td input.ng-dirty {
	/*border:1px solid #FA787E!important;
	outline: none;*/
}
.item-error {
	
	font-size: 12px;
	color: #FA787E;
	line-height: 15px!important;
	white-space: normal;
	text-align: left!important;
}
div.media {
	position: absolute;
    background-color: rgb(255, 255, 255);
    width: 800px;
    top: 100px;
    left: 400px;
    right: 100px;
    bottom: 100px;
    z-index: 10000;
    overflow--x:hidden;
    overflow-y: auto;
}
.closePDF {
	position: absolute;
    left: 220px;
    top: 20px;
    border: 1px solid #eee;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 20px;
    color: #fff;
    width: 40px;
    height: 30px;
    line-height: 30px;
    z-index: 20000;
    background: transparent;
    text-align: center;
    cursor: pointer;
    display: none;
}

.search-order {
	border-bottom: 1px solid #ddd;
	padding: 25px 10px;
	text-align: center;
}
.search-input input {
	width: 250px;
}
.search-input span {
	margin-left: 30px;
}
.good-detail .good-time {
	width: 65%;
}
.good-detail .good-time input {
	width: 45%
}
.bill-tabs {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	z-index: 2;
}
.bill-tabs li{
	width: 160px;
	height: 50px;
	float: left;
	background: #F6F6F6;
	border: 1px solid #DDDDDD;
	color: #555;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.bill-tabs li ~ li {
	border-left: 0;
}
.bill-tabs .active {
	background-color: #fff;
	border-bottom-color: #fff;
	cursor: default;
}
.bills-with-tab {
	top: 59px;
	overflow-y: auto;
}
.kkpage {
	margin-top: 0
}
.goods-table{
	width: 100%;
	
	
	table-layout: fixed;
}
.goods-table thead tr th,.goods-table tbody tr td {
	border:1px solid #ddd;
	padding: 5px;
	text-align: center;
	word-wrap: break-word;
}


.td-p p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.creator-msg {
	text-align: right;
}
.likedusernamelist {
	margin-left: 0!important;
	padding: 0;
	width: 200px;
}

.textarea-div .text-legth{
    position: absolute;
    bottom: 4px;
    right: 8px;
    color: #999;
}

.fileContent.prompt-modal{
	display:table-cell;
}
.fileContent .upload_file{
	position: relative;
	left: 20%;
	top:20%;
	width: 60%;
}
.fileContent .uploadFileTittle{
	text-align: center;
	background-color: #3BAFDA;
	height: 40px;
	padding-top: 7px;
	font-size: 16px;
	color: #fff
}
.fileContent .uploadFileContent{
	background-color: #fff;
	height: 300px;
}
.fileContent .uploadFileButton{
	background-color: #fff;
	text-align: center;
	height: 40px;
}
.fileContent .uploadFileButton button {
	margin-left: -3.5px;
	margin-right: 10px;
}