.htree{
    background:url("/public/img/tree-bg.png")  0px 0px repeat;
    padding: 0px 10px;
    width:100%;
    font-size: 13px;
}
.htree p{
    height:49px;
    line-height: 49px;
    display: inline-block;
}
.htree li ul {
    margin: 0px 0px 0px 5px;
    padding: 0 0 0 20px;
    border-left:1px dashed #e7e7e7;
    display: none;
}
.htree li.tree-li-hide{
    display: none;
}
.htree .cursor-pointer{
    cursor: pointer;
}
.htree .icon-Uncheck{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 17px;
    color: #A9B2BD;
    background: #fff;
}
.htree .icon-Close{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 17px;
    color: #3BAFDA;
    background: #BAE7F7;
}
.htree .icon-Open{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 17px;
    color: #3BAFDA;
    background: #BAE7F7;
}
.htree .icon-inoperable{
    color: #3BAFDA;
}
.htree .icon-Check{
    color: #3BAFDA;
}