@charset "UTF-8";.table-box td,.table-box th{text-align:center}.customer-table td:nth-child(1),.customer-table td:nth-child(2),.customer-table th:nth-child(1),.customer-table th:nth-child(2){width:5%}.customer-table td:nth-child(3),.customer-table th:nth-child(3){width:10%}.customer-table td:nth-child(4),.customer-table th:nth-child(4){width:15%}.customer-table td:nth-child(5),.customer-table th:nth-child(5){width:10%}.customer-table td:nth-child(6),.customer-table th:nth-child(6){width:15%}.customer-table td:nth-child(10),.customer-table td:nth-child(7),.customer-table td:nth-child(8),.customer-table td:nth-child(9),.customer-table th:nth-child(10),.customer-table th:nth-child(7),.customer-table th:nth-child(8),.customer-table th:nth-child(9){width:10%}.go-back{padding-left:15px}.add-title{padding-top:10px;padding-bottom:30px;text-align:center}.add-title p{font-size:22px;font-weight:700}.from-box{position:absolute;top:116px;left:15px;bottom:15px;right:15px}.go-back .btn-right{float:right}.from-box .panel{position:relative;padding-left:135px;float:left;width:50%}.from-box div.panel{width:100%}.from-box .rows{float:left;position:relative;width:100%;padding-left:10%;padding-right:10%}.from-box .panel dd{padding:25px;padding-left:0;margin:0;text-align:center}.from-box .panel .content-title{position:absolute;width:135px;left:0;line-height:34px;text-align:right}.from-box .panel .content-title b{display:inline-block;text-align:left;color:red;width:10px;margin-left:-5px}.from-box .panel .content-title .subsidiary{position:absolute;display:inherit;right:6px;top:19px}.from-box .panel .content-info{position:relative;display:inline-block;vertical-align:top;width:100%;text-align:left;height:auto;padding-left:13px;line-height:32px}.from-box .panel .content-info .col-md-4{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.from-box .panel .content-info .col-md-4 .checkbox-info{margin-right:6px}.from-box .panel .content-info label{margin-right:20px;cursor:pointer}.from-box .panel .content-info label>input{margin-right:4px}.from-box .panel .content-info.business{height:172px}.from-box .panel .content-info span.text-info{display:inline-block;height:34px;line-height:34px;padding-left:13px;white-space:pre-line;word-break:break-all;width:100%}a.text-info{display:inline-block;height:34px;line-height:34px;padding-left:13px;white-space:pre-line;word-break:break-all;width:100%}.operation-box{float:left;text-align:center;width:100%;margin-top:80px;margin-bottom:20px}.operation-box.right{text-align:right;height:34px;padding-right:0;margin-top:15px;margin-bottom:15px}.operation-box button{margin-left:20px;margin-right:20px}.from-box .verification{position:absolute}.from-box .verification .errors{padding-left:3px}.content-info .text-legth{position:absolute;bottom:0;right:8px;color:#999}.from-box.supplier-box{background:0 0;border:none;overflow:hidden}.from-box .tab-content{position:absolute;top:50px;left:0;right:0;bottom:0;overflow:auto}.from-box .m-tab .tab-content{min-height:0}.save-box{text-align:center;padding-bottom:30px}.user-edit{position:absolute;right:2%;top:4%}.from-box .panel .content-info{position:relative;display:inline-block;vertical-align:top;width:100%;text-align:left;height:auto;padding-left:13px;line-height:32px}.verification{text-align:left}.img-list-box{margin-left:13px;margin-top:-23px;margin-bottom:-23px;width:100%}.img-list-box .img-box{float:left;margin:0 26px 30px 0;position:relative;width:80px;height:80px;cursor:pointer}.img-list-box .img-box .img-pic{height:80px;width:80px}.img-list-box .img-box .img-pic .imgs{height:80px;width:80px;background:#e0dfe0}.img-list-box .img-box .img-pic div.imgs{background-position:center;background-size:60%;background-repeat:no-repeat}.img-list-box .img-box .img-pic .file-name-box{position:absolute;bottom:-30px;line-height:30px;font-size:10px;width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-icab-text-overflow:ellipsis;-khtml-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-webkit-text-overflow:ellipsis}.img-list-box .img-box .img-del{width:100%;height:100%;position:absolute;top:0;left:0;z-index:10;cursor:pointer;background:0 0}.img-list-box .img-box .img-view{position:relative;width:100%;height:100%}.img-list-box .img-box .img-del .icon-minus-delete{position:absolute;top:-13px;right:-10px;color:#f96268;font-size:22px;background:#fff;border-radius:50%}.img-list-box .img-upload-box .img-file{position:absolute;height:80px;width:80px;top:0;left:0;opacity:0;z-index:10}.img-list-box .img-upload-box .img-upload-button{position:absolute;top:0;left:0;height:80px;width:80px;line-height:80px;text-align:center;border:none;background:#ddd url(public/img/add-P.png) center center no-repeat;color:#fff;z-index:5;border:1px dashed #929292}.creator{position:absolute;right:10px;bottom:15px}.product-setting .rows{margin-top:20px}.product-setting .rows-last{position:absolute;left:0;bottom:20px;text-align:center}.select__layer{height:100%;background-color:#f6f8fa}.select__layer .layer__content{margin:0;padding:0;height:100%}.select__layer .layer__content>ul{position:relative;height:100%}.select__layer .layer__content>ul>li{float:left;margin-right:40px;width:280px;height:100%;background-color:#fff}.select__layer .layer__content>ul>li:last-child{margin-right:0}.select__layer .layer__content>ul>li.layer__content--action{position:absolute;top:45px;right:285px;margin-right:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:30px;height:calc(100% - 45px);background-color:#f6f8fa}.select__layer .layer__content>ul>li.layer__content--action .btn__arrow{margin-bottom:30px}.select__layer .layer__content>ul>li h4{padding-top:20px;height:45px;color:#888;background-color:#f6f8fa}.select__layer .layer__content>ul>li .content__box{height:calc(100% - 46px);outline:1px solid #ddd}.select__layer .layer__content .box__tab{height:100%}.select__layer .layer__content .box__tab .tab__title{width:100%;height:50px}.select__layer .layer__content .box__tab .tab__title>li{float:left;width:140px;text-align:center;line-height:50px;background-color:#f6f6f6;cursor:pointer}.select__layer .layer__content .box__tab .tab__title>li.active{background-color:#fff}.select__layer .layer__content .box__tab .tab__content{height:calc(100% - 50px)}.select__layer .layer__content .box__tab .tab__panel{height:100%;overflow-y:auto;border-top:2px solid #ddd}.select__layer .layer__content .checkbox{margin-right:4px}.btn__arrow{display:block;margin:0 auto;width:20px;height:50px;background-color:#3bafda;border:none;border-radius:2px;color:#fff}.search__box{padding:15px;border-bottom:2px solid #ddd}.search__box>input{padding-left:24px;border:1px solid #bdbdbd;border-radius:2px}.search__box .select__all{margin-top:15px}.tree__box{padding-left:20px}.tree__box dl{margin:0;line-height:34px;border-left:1px dashed #e2e2e2;border-bottom:1px solid #e2e2e2}.tree__box dl dt{padding-left:10px;border-bottom:1px solid #e2e2e2;cursor:pointer}.tree__box dl dt.active{background-color:#e2f2fa}.tree__box dl dd{margin-left:20px;padding-left:10px;border-left:1px dashed #e2e2e2;border-bottom:1px solid #e2e2e2;cursor:pointer}.tree__box dl dd.active{background-color:#e2f2fa}.tree__box dl dd:last-child{border-bottom:none}.select__box{padding:15px;height:calc(100% - 110px);overflow-y:auto}.select__box li{padding:5px 0}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccd1d9}input:-moz-placeholder,textarea:-moz-placeholder{color:#ccd1d9}input::-moz-placeholder,textarea::-moz-placeholder{color:#ccd1d9}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccd1d9}

#accountTable .customer-table td:nth-child(1),#accountTable .customer-table td:nth-child(2),#accountTable .customer-table th:nth-child(1),#accountTable .customer-table th:nth-child(2) {
    width:5%!important;
}
#accountTable .customer-table td:nth-child(3),#accountTable .customer-table th:nth-child(3) {
    width:22%!important
}
#accountTable .customer-table td:nth-child(4),#accountTable .customer-table th:nth-child(4) {
    width:24%!important
}
#accountTable .customer-table td:nth-child(5),#accountTable .customer-table th:nth-child(5) {
    width:22%!important
}
#accountTable .customer-table td:nth-child(6),#accountTable .customer-table th:nth-child(6) {
    width:12%!important
}
#accountTable .customer-table td:nth-child(7),#accountTable .customer-table th:nth-child(7) {
    width:10%!important
}

.audit_fail{
    position: relative;
    height: 108px;
    width: calc(100% - 15px);
    margin: 15px 0 0 15px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;

}

.audit_fail_img{
    position: relative;
}

.audit_fail_img:after{
    content: "审核未通过";
    top: 40px;
    left: -20px;
    position: absolute;
    width: 90px;
    color: #FE5959;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.audit_fail_reason{
    width: 100%;
    position: absolute;
    top: 18px;
    left: 152px;
    padding-right: 40px;
}
.audit_fail_reason span{
    font-weight: 500;
    line-height: 20px;
    color: #333333;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.u-must-red {
    color: red;
}
.m-audit-box {
    background: #fff;
    padding: 20px;
    width: 100%;
    font-size: 16px;
}
.m-audit-box .row-list {
    padding: 15px 0px;
}
.wrap-textarea .text-legth {
    bottom: 7px;
    left: auto;
    right: 19px;
    color: #aaa;
    position: absolute;
}
.warning-abs {
    position: absolute;
    bottom: -22px;
    color: red;
}
.audit_fail_reason .fail_reason{
    margin: 0;
    height: 50px;
    overflow-y: auto;
    width: 88%;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.audit_fail_reason pre {white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}