.shipping-table-page{
    position: absolute;
    right: 15px;
    bottom: 15px;
    top: 15px;
    left:15px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}

.shipping-table-page .box-header{
    margin-top: 15px;
}
.shipping-table-page .batch-operation{
    position: relative;
    text-align: left;
    padding: 15px;
}
.shipping-table-page .batch-operation button {
    margin-left: -3.5px;
    margin-right: 10px;
}
.shipping-table-page .box-header .search-box .row{
    padding: 10px 0
}

.table-container {
    text-align: center;
    position: relative;
}
.line-table-shipping th, .line-table-shipping td{
    display:-moz-deck;
    float:none;
}
.line-table-shipping th:nth-child(1), .line-table-shipping td:nth-child(1){
    width: 5%;
    -ms-text-overflow: inherit!important;
    text-overflow: inherit!important;
}
.line-table-shipping th:nth-child(2), .line-table-shipping td:nth-child(2){
    width: 5%;
}
.line-table-shipping th:nth-child(3), .line-table-shipping td:nth-child(3){
    width: 15%;
}
.line-table-shipping th:nth-child(4), .line-table-shipping td:nth-child(4){
    width: 10%;
}
.line-table-shipping th:nth-child(5), .line-table-shipping td:nth-child(5){
    width: 10%;
}
.line-table-shipping th:nth-child(6), .line-table-shipping td:nth-child(6){
    width: 10%;
}
.line-table-shipping th:nth-child(7), .line-table-shipping td:nth-child(7){
    width: 10%;
}
.line-table-shipping th:nth-child(8), .line-table-shipping td:nth-child(8){
    width: 20%;
}
.line-table-shipping th:nth-child(9), .line-table-shipping td:nth-child(9){
    width: 15%;
}

#nest-ShippingLineForm .verification{
    position: absolute;
    right: 0px;
    text-align: left;
    width: 295px;
}
#nest-ShippingLineForm .verification .errors{
    position: relative;
    padding-left: 0px;
}
.remark-info{
    height: 58px;
}
.remark-info .show-string-length{
    bottom: 19px;
}
.shipping-search-btn{
    display: inline-block;
    float: right;
    margin-right: 52px
}
.shipping-search-btn button {
    width: 98px;
    padding: 0px;
}

.input-port-box {
    width:295px;
    display:inline-block;
    vertical-align:top;
}

.input-port {
    margin-bottom:10px;
}

.start-point{
    width:85% !important;
    height:34px;
    margin-right:10px;
    vertical-align:middle;
}

.delete-icon, .add-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid #F96268;
    vertical-align: middle;
    border-radius: 13px;
    cursor:pointer;
    text-align:center;
    line-height:12px;
}

.delete-center {
    display: inline-block;
    height: 2px;
    background-color: #F96268;
    width: 60%;
    margin-left: 0.5px;
}

.add-icon {
    border:2px solid  #3BAFDA;
}

.add-center {
    color: #3BAFDA;
    font-size: 19px;
    display: inline;
    line-height: 15px;
}

.add-tips {
    display:inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
td {
  text-align: center !important;
}
