<section class="content left-width-fixed test_10df4ed7" ng-init="init()">
    <div class="m-left test_2d5e763b">
        <ul class="cost-block test_9fe4e9cb" id="cost-block">
            <li class="active test_37c07c40" ng-click="getCostTable(0);">
                <i class="icon-all test_bbfac785"></i>
                <p class="test_d2223819"><%=cost_page_costall%></p>
            </li>
            <li ng-repeat="item in cost.bigType" ng-click="getCostTable($index+1, item.code);" class="test_1ad55deb">
                <i ng-class="{'icon-Transportation-cost':item.code==1,'icon-Surcharge':item.code==2,'icon-Sundry-charges':item.code==3}" class="test_dcdba748"></i>
                <p class="test_c5e3ff6d">{{item.name}}</p>
            </li>
        </ul>
    </div>
    <div class="m-right test_cbc367c4" ng-controller="tableController">
        <div class="box-header test_f5df1fd7">
            <div class="search-box test_7c22a0ce">
                <input maxlength="30" ng-enter="getCostTable('', '', true);" ng-model="tableCost.restData.q" ng-value="q" type="text" class="form-control test_5fb870ed" placeholder="<%=cost_page_searchplacer%>">
                <i class="icon-search search-table test_51082f22"></i>
                <div class="u-search-btn test_8b421b11">
                    <button ng-click="getCostTable('', '', true);" class="btn btn-primary test_9718feef"><%=common_list_search_btn%></button>
                </div>
            </div>
        </div>

        <div class="batch-operation test_6d3964d9">
            <button ng-click="addCost();" class="btn btn-primary test_413dccdc"><%=common_page_add%></button>
            <button ng-click="delCost();" class="btn btn-primary test_e8822b4e"><%=common_page_delete%></button>
            <button ng-click="international();" class="btn btn-primary test_63595965"><%=cost_page_globalization%></button>
        </div>

        <div class="table-container test_5120a332">
            <table class="cost-table table-box test_3857853b" cellpadding="0" cellspacing="0">
                <thead class="test_6960b467">
                    <tr class="test_aca9817d">
                        <th class="test_cf8883d1">
                            <div class="checkbox checkbox-info test_6aa14892">
                                <input type="checkbox" ng-model="tableCost.selectFlag" ng-click="table.selectAll(tableCost);" class="test_4a60d313">
                                <label class="test_29714e4a"></label>
                            </div>
                        </th>
                        <th ng-repeat="item in tableCost.tableHeader" class="test_c195b811">{{item}}</th>
                    </tr>
                </thead>

                <tbody class="test_745a1d59">
                    <tr ng-repeat="value in tableCost.tableBody" ng-init="renderFinish($last)" class="test_02d965db">
                        <td class="test_5ac4f976">
                            <div class="checkbox checkbox-info test_fe14e1af">
                                <input type="checkbox" ng-checked="value.checkbox" ng-click="table.selectOne(tableCost, value.checkboxId, $event);" class="test_d1f047a1">
                                <label class="test_3a9b708e"></label>
                            </div>
                        </td>
                        <td class="test_a6ecbdbf">{{(tableCost.pagination.currentPage-1)*tableCost.pagination.pageSize+$index+1}}</td>
                        <td class="test_4395157e" title="{{value.name}}">
                            <a href="javascript:;" ng-click="editCost(value.id)" ng-bind-html="value.name | trustHtml:q" class="test_a090da46"></a>
                        </td>
                        <td title="{{value.code}}" ng-bind-html="value.code | trustHtml:q" class="test_2c9d7d7b"></td>
                        <td title="{{value.typeName}}" class="test_f9592e83">{{value.typeName}}</td>
                        <td title="{{value.description}}" class="test_fb058196">{{value.description}}</td>
                    </tr>
                </tbody>
            </table>
            <hnapagination table-service="table" page-table-model="tableCost" class="test_bde591aa"></hnapagination>
        </div>

        <div ng-show="!tableCost.pagination.isVisiblePage" style="position: absolute;top:165px;bottom:0px;width:100%;" class="test_c65d18d9">
            <img style="width:100%;height:100%;" src="/public/img/undefined.svg" class="test_943377ed">
        </div>

    </div>
</section>


<div style="display: none;" ng-show="nestCostFrom" id="nest-CostFrom" class="prompt-modal middle-box test_ae75bbc9">
    <div class="prompt-wrap test_3c6234e7">
        <div class="bomb-box test_af710fef">
            <div class="title test_1256e390"><%=cost_page_newcost%></div>
            <div class="prompt-content test_1d90349c">
                <form name="CostFrom" novalidate="novalidate" class="test_0dd428c4">
                    <div id="CostFrom" class="test_efdfdf92">
                        <div ng-click="" class="label-text test_bfa6d8ad"><%=cost_page_baseinfo%><i style="transform:rotate(0deg);" class="icon-more-down icon-angle-down test_87708458"></i></div>
                        <ul class="isContainer switch-list test_6e4eaa33" data-title="<%=cost_page_baseinfo%>">
                            <li class="test_e954b570">
                                <label class="test_ecd9f042"><b class="test_16870ad5">*</b><%=cost_page_costname%>：</label>
                                <input ng-trim="false" class="input-text test_58ffabde" verification="{'ruleType':'name'}" maxlength="{{CostFrom.costName.maxLength}}" name="costName" ng-model="costName" type="text" required>
                                <div class="verification test_57bf53fb">
                                    <span class="errors test_8cf58d05" ng-show="CostFrom.costName.$viewValue && CostFrom.costName.$error.defined && CostFrom.costName.$dirty">{{CostFrom.costName.errorTips}}</span>
                                </div>
                            </li>
                            <li class="test_8ef14345">
                                <label class="test_0e405dce"><b class="test_ed8a5e08">*</b><%=cost_page_costcode%>：</label>
                                <input ng-trim="false" ng-blur="checkCode()" class="input-text test_31292793" verification="{'ruleType':'code','maxType':'15','tipsType':'two'}" maxlength="{{CostFrom.costCode.maxLength}}" name="costCode" ng-model="costCode" type="text" required>
                                <div class="verification test_1162efc7">
                                    <span id="code-msg" class="errors test_f79c48d5" ng-show="CostFrom.costCode.$viewValue && CostFrom.costCode.$error.defined && CostFrom.costCode.$dirty">{{CostFrom.costCode.errorTips}}</span>
                                </div>
                            </li>
                            <li class="test_f40774e3">
                                <label class="test_bf21abe6"><b class="test_fb8f2d5f">*</b><%=cost_page_costtype%>：</label>

                                <div class="select-box test_f55dc828">
                                    <input ng-trim="false" required ng-model="costTypeName" name="costTypeName" ng-value="costTypeValue" type="text" id="type-select-input" readonly="readonly" placeholder="<%=cost_page_choice%>" class="test_81e20e0c">
                                    <i class="select-icon icon-drop-down test_a9d6f78d"></i>
                                </div>
                            </li>
                            <li class="test_c0bc4711">
                                <label class="test_8dda5d37"><%=common_page_remarks%>：</label>
                                <div class="remark-info test_941c224c">
                                    <textarea style="height:92px;" ng-change="showTextNumber();" ng-trim="false" rows="5" ng-model="remark" class="form-control textarea-text test_67f41f45" maxlength="140"></textarea>
                                    <div class="show-string-length test_3e0e7895"><span class="test_22650be8">{{textareaNumber}}</span>字</div>
                                </div>
                            </li>
                        </ul>
                        <div class="label-text test_fcb4f307"><%=cost_page_globalizationName%><i style="transform:rotate(0deg);" class="icon-more-down icon-angle-right test_949b8dcb"></i></div>
                        <ul class="isContainer switch-list test_502a2b5e" data-title="<%=cost_page_globalization%>" id="globalization">
                            <li ng-repeat="item in language" class="test_d26ba4b2">
                                <label class="test_49a1aff2">{{item.localName}}：</label>
                                <input maxlength="30" data-localname="{{item.localName}}" data-id="{{item.id}}" data-code="{{item.code}}" class="input-text test_e060cefa" type="text">
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="operation test_4b8472c2">
                <button ng-click="cancelCost();" name="prompt-close" class="btn btn-default test_b65e6a38" data-event="close"><%=common_page_cancel%></button>
                <button ng-click="saveCost();" name="prompt-save" class="btn btn-primary test_3ca089c3" data-event="close"><%=common_page_save%></button>
            </div>
        </div>
    </div>
</div>