<!--<section class="content">-->
    <!--<div class="add-search-box test_6316bc19">-->
        <!--<div class="list-search-box test_b65fa3b1">-->
            <!--<input maxlength="30" ng-enter="searchOrderNum();" ng-model="orderNum" type="text" class="form-control" placeholder="请输入订单号查询">-->
            <!--<i class="icon-search search-table test_4365bc49"></i>-->
        <!--</div>-->
        <!--<button ng-click="searchOrderNum();" class="btn btn-primary test_c413bc1a">搜索</button>-->
    <!--</div>-->
    <!--<div class="orderDetails">-->
        <!--<div id="customer-basic-detail">-->
            <!--<div include="tpl/fragment/orderModify/customerBasicDetail.html" ng-controller="customerBasicDetailCtrl"></div>-->
        <!--</div>-->

    <!--</div>-->


<!--</section>-->




















