
<section class="only-list test_773f4452">
    <div class="title test_239d2201" id="test" draft="">更改密码</div>

    <form name="UpdatePW" novalidate="novalidate" id="UpdatePW" style="padding-left: 295px;" class="test_706e2f6e">

        <dl class="panel test_9d69236f">
            <dd class="test_bfafdc48">
                <div class="container test_227bab9b">
                    <label class="lable-left test_17169997"><b class="red test_93d00d5d">*</b>旧密码：</label>
                    <input ng-blur="checkOldAndNew()" class="input-text test_e12821a7" ng-trim="false" ng-model="oldPassword" type="password" placeholder="请输入旧密码" name="oldPassword" required>
                </div>
            </dd>
            <dd class="test_82234bda">
                <div class="container test_c4a9fefc">
                    <label class="lable-left test_25337ce7"><b class="red test_54acd3be">*</b>新密码：</label>
                    <!--<input ng-keyup="checkPwStrength()" minlength="6" maxlength="18" ng-trim="false" ng-model="password.newPw" type="password" placeholder="请输入新密码" name="newPw" required>-->
                    <input class="input-text test_95510bdf" ng-keyup="checkPwStrength()" ng-blur="checknewPW()" ng-trim="false" maxlength="18" ng-model="newPassword" type="password" placeholder="请输入新密码" name="newPassword" required>
                </div>
                <div class="container test_9889bfd7">
                    <label class="lable-left test_bd355e2d"></label>
                    <div ng-show="ExistNoSupWord" class="tips test_762ce8f5">密码格式不正确,请重新输入</div>
                    <div ng-show="showPwLow && !ExistNoSupWord" class="tips test_62e6617b">密码不符合要求,请重新设置</div>
                    <!--密码过弱-->
                    <div ng-show="showOldNewSame && !showPwLow && !ExistNoSupWord" class="tips test_dc345188">新旧密码不能相同,请重新输入</div>
                </div>
                <div class="container test_117fe016">
                    <label class="lable-left test_3fd2713e"></label>
                    <table width="220px" border="1" cellspacing="0" cellpadding="1" bordercolor="#eeeeee" height="22px" class="test_1ae57434">
                                 <tr align="center" bgcolor="#f5f5f5" class="test_083f8f3a">
                                     <td width="33%" id="strength_L" class="test_315ac112">弱</td>
                                     <td width="33%" id="strength_M" class="test_a434c522">中</td>
                                     <td width="33%" id="strength_H" class="test_48687071">强</td>
                                 </tr>
                    </table>
                </div>
                <div class="container test_0300cff5">
                    <label class="lable-left test_d32f2c68"></label>
                    <!--<span >{{newPassword}}</span>-->
                    <div class="tips test_bfa4c527" style="color:#888888;padding-top: 12px;">密码格式6-18位，密码不能包含用户名，至少包含大，小写字母，数字，符号至少三种，符号可以输入!@#&()_+,./\</div>
                </div>
            </dd>
            <dd class="test_4611a7b6">
                <div class="container test_6175093a">
                    <label class="lable-left test_135bf9b8"><b class="red test_e00d0218">*</b>确认密码：</label>
                    <input class="input-text test_d359b466" ng-trim="false" ng-blur="checkVertify()" ng-model="newVertifyPw" type="password" placeholder="请再次输入新密码" name="newVertifyPw" required>
                </div>
                <div class="container test_39bd7322">
                    <label class="lable-left test_487751de"></label>
                    <div class="tips test_c869b37b" ng-show="showDiffErr">新密码和确认密码应该相同！</div>
                </div>
                <!--<label class="lable-left"></label>-->
                <!--<span ng-show="showDiffErr">两次输入的密码应该相同！</spanng-show>-->
            </dd>
        </dl>


    </form>
    <button style="margin-left: 555px;" ng-click="updatePw();" class="btn btn-primary test_c706d16c">确认</button>


</section>
