<form name="customerForm" novalidate="novalidate">
    <div ng-show="showBtn">
        <button ng-click="editUser();" class="btn btn-primary user-edit" ng-if="isEdit">编辑</button>
    </div>

    <div class="operation-box right">
        <button ng-show="visible" name="editCustomer" ng-click="editCustomer();" class="btn btn-primary"><%=common_page_edit%></button>
    </div>
    <div class="rows">
        <dl class="panel">
            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b>账户名：</div>
                <div class="content-info">
                    <input ng-show="!isEdit" ng-trim="false" validate-code="{ruleReg:'name', ruleRegMsg:'<%=common_validate_name%>', maxLength:'30'}" name="userNameInfo" ng-hide="visible" ng-model="userNameInfo" type="text"  required>
                    <span ng-show="isEdit">{{userNameInfo}}</span>
                    <validatetip from-model="customerForm.userNameInfo"></validatetip>
                </div>
            </dd>
            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b>编码：</div>
                <div class="content-info">
                    <span ng-show="visible" class="text-info">{{code}}</span>
                    <input ng-show="!isEdit && isCanEdit" ng-blur="checkCode()" class="check-codes" ng-trim="false" validate-code="{ruleReg:'code', ruleRegMsg:'<%=common_validate_code%>', maxLength:'15'}" name="codeInfo" ng-hide="visible" ng-model="codeInfo" type="text"  required>
                    <span ng-show="isEdit || !isCanEdit">{{codeInfo}}</span>
                    <validatetip id="code-error-box"></validatetip>
                    <validatetip from-model="customerForm.codeInfo"></validatetip>
                </div>
            </dd>
            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b>业务类型：</div>
                <div class="content-info">
                    <div class="row" ng-show="!isEdit">
                        <div class="col-md-4">
                            <div class="checkbox checkbox-info">
                                <input type="checkbox" name="cusUserType" ng-model="cusUserTypeLogs" ng-value="1" ng-disabled="userType == 2 || isAdd || (userType == 1 && !isEdit && !typeAll)" ng-checked="cusUserTypeLogs">
                                <label></label>
                            </div>
                            <span>物流</span>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox checkbox-info">
                                <input type="checkbox" name="cusUserType" ng-model="cusUserTypeTrd" ng-value="2" ng-disabled="userType == 1 || isAdd || (userType == 2 && !isEdit && !typeAll)" ng-checked="cusUserTypeTrd">
                                <label></label>
                            </div>
                            <span>贸易</span>
                        </div>
                    </div>
                    <span ng-show="isEdit">{{ cusUserTypeName }}</span>
                    <validatetip from-model="customerForm.cusUserType"></validatetip>
                </div>
            </dd>
            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b>电子邮箱：</div>
                <div class="content-info">
                    <span ng-show="visible" class="text-info">{{mail}}</span>
                    <input ng-show="!isEdit" ng-blur="checkEmail()" class="check-emails" ng-focus="clearEmailErrorMsg()" ng-trim="false" maxLength="30" validate-code="{ruleReg:'email', ruleRegMsg:'<%=common_validate_email%>'}"  name="email" ng-hide="visible" ng-model="email" type="text" placeholder="<%=customer_email_tips%>" required>
                    <span ng-show="isEdit">{{email}}</span>
                    <validatetip ng-show="!isEdit" from-model="customerForm.email"></validatetip>
                    <validatetip ng-show="!isEdit" id="email"></validatetip>
                </div>
            </dd>

            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b><%=company_level%>：</div>
                <div class="content-info">
                    <input name="rankInfo" ng-value="rankInfo" style="display: none;" id="stars" value="0" type="number" class="rating" min="0" max="5" step="1" data-size="xs" required>
                    <div class="verification">
                        <span class="isExisted" ng-show="validateRankError"></span>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="content-title">订舱供应商功能：</div>
                <div  class="content-info" ng-show="!isEdit">
                    <div class="radio radio-single radio-primary test_5be6b27d">
                        <input ng-trim="false" name="shipBooking"  ng-value="false" ng-model="shipBooking" type="radio" required>
                        <label class="test_e4769164"></label>
                    </div>
                    <span>不开通</span>
                    <div class="radio radio-single radio-primary test_5be6b27d" style="margin-left: 15px">
                        <input ng-trim="false" name="shipBooking"  ng-value="true" ng-model="shipBooking" type="radio" required>
                        <label class="test_e4769164"></label>
                    </div>
                    <span>开通</span>
                </div>
                <!--<div class="content-info" ng-show="!isEdit">-->
                <!--<label for="shipBooking"><input ng-trim="false" name="shipBooking"  ng-value="false" ng-model="shipBooking" type="radio" required>不开通</label>-->
                <!--<label for="shipBooking"><input ng-trim="false" name="shipBooking"  ng-value="true" ng-model="shipBooking" type="radio" required>开通</label>-->
                <!--</div>-->
                <div class="content-info" ng-show="isEdit">
                    <label for="shipBooking" ng-show="!shipBooking">不开通</label>
                    <label for="shipBooking" ng-show="shipBooking">开通</label>
                </div>
            </dd>
        </dl>
        <dl class="panel">
            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b>结算方式：</div>
                <div class="content-info">
                    <span ng-show="visible" class="text-info">{{refSettlementName}}</span>
                    <input ng-show="!isEdit" ng-trim="false" id="account-type" name="refSettlementName" ng-hide="visible" ng-model="refSettlementName" type="text"  required>
                    <span ng-show="isEdit">{{refSettlementName}}</span>
                    <validatetip from-model="customerForm.refSettlementName"></validatetip>
                </div>
            </dd>
            <dd>
                <div class="content-title"><b ng-show="!isEdit">*</b>交易币种：</div>
                <div class="content-info">
                    <span ng-show="visible" class="text-info">{{tradingCurrency}}</span>
                    <input ng-show="!isEdit" ng-trim="false" id="trading-currency" name="tradingCurrency" ng-hide="visible" ng-model="tradingCurrency" type="text"  required>
                    <span ng-show="isEdit">{{tradingCurrency}}</span>
                    <validatetip from-model="customerForm.tradingCurrency"></validatetip>
                    <!-- 三字码 -->
                </div>
            </dd>
            <dd ng-hide="paramter.module == 'trade'">
                <div class="content-title">价格套餐：</div>
                <div class="content-info">
                    <span ng-show="visible" class="text-info">{{refCombos}}</span>
                    <input ng-show="!isEdit" id="price-combos" ng-trim="false" ng-click="getCombosData()" name="refCombos" ng-hide="visible" ng-model="refCombos" ng-model="refCombosId" type="text" >
                    <i ng-show="!isEdit" class="select-icon icon-drop-down"></i>
                    <span ng-show="isEdit">{{refCombos}}</span>
                </div>
            </dd>
            <dd>
                <div class="content-title">备注：</div>
                <div class="content-info" style="{{isEdit ? 'position:relative; top:10px;': 'height:175px; position:relative; top:10px;'}}">
                    <span ng-show="visible" class="text-info">{{description}}</span>
                    <textarea maxLength="140" ng-show="!isEdit" style="height: 175px;" ng-trim="false" text-length name="descriptionInfo" ng-hide="visible" ng-model="descriptionInfo" type="text" ></textarea>
                    <span ng-show="isEdit" style="position:relative;top:-9px">{{descriptionInfo}}</span>
                </div>
            </dd>
        </dl>
        <div class="creator" ng-if="isEdit">
            <span style="margin-right:15px"><%=customer_creator%>: {{creator}}</span><span><%=customer_create_date%>: {{createDate}}</span>
        </div>
    </div>
    <div class="save-box" ng-show="!isEdit">
        <button ng-if="!isCanEdit" ng-click="cancelCustomer();" style="margin-right:40px" class="btn btn-default">取消</button>
        <button ng-click="saveCustomer();" class="btn btn-primary">保存</button>
    </div>

    <div ng-if="isShowAudit">
        <div style="height:15px;width:100%;background-color:#f2f2f2;float:left;margin-top:20px;border-top:1px solid #ddd;border-bottom:1px solid #ddd"></div>
        <div style="height:279px;width:100%;float:left"  class="m-audit-box">
            <form name="auditForm" novalidate="novalidate" class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength">
                <div class="row row-list clearfix">
                    <div class="text-right col-md-2">
                        <label><b class="u-must-red">*</b>审核意见：</label>
                    </div>
                    <div class="text-left col-md-10">

                        <label><input name="auditStatus" value="pass" type="radio" ng-model="$parent.auditStatus" ng-click="clearAuditRemark()"> 审核通过</label>
                        <label style="margin-left:10px"><input name="auditStatus" value="rejections" type="radio" ng-model="$parent.auditStatus"> 审核未通过</label>
                        <p ng-show="customerForm.auditStatus.$dirty && !auditStatus" class="warning-abs">请先选择审核意见</p>
                    </div>
                </div>
                <div class="row row-list clearfix" >
                    <div class="text-right col-md-2">
                        <label><b class="u-must-red">*</b>意见说明：</label>
                    </div>
                    <div class="text-left col-md-10" >
                        <div class="wrap-textarea">
                            <textarea ng-disabled="$parent.auditStatus == 'pass'" ng-class="{disabled: $parent.auditStatus == 'pass'}" text-length2=""
                             name="auditRemark" ng-model="$parent.auditRemark" ng-trim="false" rows="5" type="text"
                             maxlength="200" placeholder="请输入意见说明" class="test_fec7e9ff ng-pristine ng-untouched ng-valid-maxlength " required></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button ng-disabled="submitDisabled" class="btn btn-primary" ng-click="submitAudit();">提交意见</button>
                </div>
            </form>
        </div>
    </div>

</form>
